<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messed.ircmbs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RestSignUpDetails"></activity>
        <activity android:name=".View.RestOrderConfirmation"
            android:theme="@style/AppTheme.AfterNoActionBar"
            />
        <activity android:name=".View.LoginActivities.SignUpScreen" />
        <activity
            android:name=".RestOrder"
            android:theme="@style/AppTheme.AfterNoActionBar" />
        <activity
            android:name=".View.RestBilling"
            android:theme="@style/AppTheme.AfterNoActionBar" />
        <activity
            android:name=".View.MenuViewActivity"
            android:theme="@style/AppTheme.AfterNoActionBar" />
        <activity
            android:name=".View.RestaurantHomeScreen"
            android:theme="@style/AppTheme.AfterNoActionBar" />
        <activity android:name=".View.LoginActivities.LoginRest" />
        <activity android:name=".View.LoginActivities.LoginChoice" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>